.badge {
  padding: 5px 12px;
  background-color: var(--color-bg-badge);
  border-radius: 9999px;
}

.text {
  color: var(--color-badge-text);
  &:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 0;
    left: 6px;
    border-radius: 50%;
  }
}
