.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.nameRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

.privacy {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submitForm {
  margin-top: 12px;

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
