.header {
  padding: 14px 0;
  border-bottom: 1px solid var(--color-border-base);

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-shrink: 0;
  font-size: 18px;
  color: var(--color-calendar-header-title);
}

.title::first-letter {
  text-transform: uppercase;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  max-width: 100%;
}

@media (max-width: 640px) {
  .actions {
    width: 100%;
    justify-content: space-between;
  }
}
