.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--color-sidebar-bg);
  border-radius: 12px;
  padding: 24px 18px 18px 24px;
  width: 420px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-project-form-text);
  margin: 0;
  padding-top: 2px;
}

.body {
  padding-right: 2px;
}

.icon {
  width: 10px;
  height: 14px;
  color: var(--color-modal-close-button);
}
