.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: var(--color-button-filled-text);
}

.fullWidth {
  width: 100%;
}

.withAddon {
  padding-inline: 2px;
}

.addonLeft {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.clear {
  padding: 0;

  border: none;
  outline: none;
  background: transparent;

  color: var(--color-button-clear-text);
}

.filled {
  border: none;
  outline: none;

  background: var(--color-button-filled-bg);
  color: var(--color-button-filled-text);

  &:hover {
    background: var(--color-button-filled-bg-hover);
  }

  &:active {
    background: var(--color-button-filled-bg-active);
  }

  &:disabled {
    background: var(--color-button-filled-disabled-bg);
    opacity: 0.5;
  }

  &.normal {
    background: var(--color-button-filled-bg);
  }

  &:hover {
    background: var(--color-button-filled-bg-hover);
  }

  &:active {
    background: var(--color-button-filled-bg-active);
  }

  &:disabled {
    background: var(--color-button-filled-disabled-bg);
    opacity: 0.5;
  }

  &.normal {
    background: var(--color-button-filled-bg);
  }

  &.danger {
    background: color-mix(in srgb, var(--color-button-danger-bg) 40%, transparent);
    color: var(--color-button-danger-text);
  }

  &.success {
    background: color-mix(in srgb, var(--color-button-success-border) 40%, transparent);
    color: var(--color-button-success-text);
  }
}

.outline {
  background: transparent;

  &:hover {
    border-color: var(--color-button-outline-hover-border);
    color: var(--color-button-outline-hover-text);
  }

  &:active {
    border-color: var(--color-button-outline-active-border);
    color: var(--color-button-outline-active-text);
    background: var(--color-button-outline-active-bg);
  }

  &:disabled {
    border-color: var(--color-button-outline-disabled-border);
    color: var(--color-button-outline-disabled-text);
    background: var(--color-button-outline-disabled-bg);
    opacity: 0.5;
  }

  &.normal {
    border: 1px solid var(--color-button-outline-border);
    color: var(--color-button-outline-text);
  }

  &.danger {
    border: 1px solid color-mix(in srgb, var(--color-button-danger-border) 40%, transparent);
    color: var(--color-button-danger-text);
  }

  &.success {
    border: 1px solid color-mix(in srgb, var(--color-button-success-border) 40%, transparent);
    color: var(--color-button-success-text);
  }
}

.github {
  background-color: var(--color-bg-github-button);
}

.sm {
  font-size: 12px;
  line-height: 16px;
}

.md {
  font-size: 14px;
  line-height: 20px;
}

.lg {
  font-size: 16px;
  line-height: 24px;
}

.filled.sm,
.outline.sm {
  padding: 8px 12px;
  border-radius: 6px;
}

.filled.md,
.outline.md {
  padding: 10px 16px;
  border-radius: 8px;
}

.filled.lg,
.outline.lg {
  padding: 14px 24px;
  border-radius: 10px;
}

.square {
  width: 40px;
  height: 40px;
  padding: 0;
}
