.button {
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.withAddon {
    padding: 0 2px;
}

.addonLeft {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    border-radius: 10px;
}

.filled {
    background-color: var(--color-primary);
    border: none;
    outline: none;

    &:hover {
        background-color: #4f52dd;
    }

    &:active {
        background-color: #4346c8;
    }

    &:disabled {
        background-color: var(--color-border-strong);
        opacity: 0.5;
    }

    &.normal {
        background-color: var(--color-primary);
        color: #ffffff;
    }

    &.danger {
        background-color: var(--color-danger);
        color: #ffffff;
    }
}

.outline {
    background: none;
    border-radius: 10px;

    &:hover {
        border: 1px solid var(--color-placeholder);
        color: var(--color-text-body);
    }

    &:active {
        border: 1px solid var(--color-border-strong);
        color: var(--color-text-primary);
        background-color: var(--color-bg-muted);
    }

    &:disabled {
        border: var(--color-border-base);
        color: var(--color-text-primary);
        background-color: var(--color-bg-surface);
        opacity: 0.5;
    }

    &.normal {
        border: 1px solid var(--color-border-strong);
        color: var(--color-text-body);
    }

    &.danger {
        border: 1px solid var(--color-danger);
        color: var(--color-danger);
    }
}

.square {
    padding: 0;
    width: 40px;
    height: 40px;
}

.sm {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 6px;
}

.md {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    border-radius: 8px;
}

.lg {
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    border-radius: 10px;
}

.fullWidth {
    width: 100%;
}
