.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 960px;
  padding: 28px 40px 28px 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  margin: 0;
  color: var(--color-text-primary);
}

.description {
  margin: 0;
  color: var(--color-text-muted);
}

.saveButton.saveButton {
  height: 40px;
  padding: 0 20px;
}
