.header {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  overflow-wrap: break-word;
}

.title {
  color: var(--color-promo-auth-title);
}

.header[data-variant='promo'] .description {
  color: var(--color-promo-auth-description);
}

.header[data-variant='form'] .title{
  color: var(--color-panel-auth-title);
}

.header[data-variant='form'] .description {
  color: var(--color-panel-auth-description);
}