.wrapper {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg-surface);

  padding: 9px 40px;

  border-bottom: 1px solid var(--color-border-base);

  .icon {
    color: var(--color-search-icon);
  }

  .counter {
    line-height: 22px;
  }
}

.table {
  .icon {
    color: var(--color-search-icon);
  }
}

.search {
  width: 280px;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 10px;

  width: 300px;
  height: 36px;

  padding: 0 12px;

  border: 1px solid var(--color-border-strong);
  border-radius: 8px;

  color: var(--color-placeholder);
}

.toolbar .counter {
  color: var(--color-text-muted);
  line-height: 22px;
  font-size: 14px;
}

.pageColumn.pageColumn {
  padding: 7px 0 7px 40px;
}

.iconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-surface);
  border-radius: 6px;
}

.page {
  display: flex;
  align-items: center;
  gap: 7px;
}

.actionsColumn.actionsColumn {
  padding-right: 1px;
}

.actions {
  display: flex;
  gap: 8px;

  .refresh,
  .delete {
    padding: 4px 10px;
  }

  .refresh {
    background-color: var(--color-trash-list-refresh-button-bg);
  }

  .delete {
    background-color: var(--color-trash-list-delete-button-bg);
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.actionIcon {
  height: 13px;
  width: 13px;
}

.label {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text-primary);
}

.description {
  color: var(--color-trash-list-row-text-color);
  line-height: 22px;
}

.deletedByColumn.deletedByColumn {
  color: var(--color-trash-list-row-text-deleted-by-color);
}

.deletedAtColumn.deletedAtColumn {
  color: var(--color-trash-list-row-text-deleted-at-color);
  line-height: 16px;
  font-size: 12px;
}
