.notFoundDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;

  text-align: center;
}

.notFoundTitle {
  font-size: 96px;
  line-height: 96px;
}

.pageSearch {
  max-width: 340px;
}
