.heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-text-primary);
  }

  .subtitle {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-text-muted);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label,
  .label {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-text-muted);
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelHint {
  color: var(--color-placeholder);
  font-weight: 400;
}

.actions {
  --button-addon-size: 14px;

  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .submitButton {
    gap: 6px;
    padding: 0 14px;
    height: 40px;
  }
}
