.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 6px;
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-project-form-label);
  font-family: var(--font-sans);
}

.error {
  font-size: 13px;
  color: var(--color-danger);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-right: 2px;

  .submitButton {
    color: var(--color-modal-button-text);
    background-color: var(--color-modal-button-bg);
  }
}

