:root {
  /* COLORS */

  /* brand */
  --color-primary: #6366F1;
  --color-primary-light: #6366F114;
  --color-telegram: #2596BE;

  /* semantic */
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #2563EB;

  /* neutrals */
  --color-text-primary: #111827;
  --color-text-body: #374151;
  --color-text-muted: #6B7280;
  --color-border-strong: #D1D5DB;
  --color-placeholder: #9CA3AF;
  --color-border-base: #E5E7EB;
  --color-bg-muted: #F3F4F6;
  --color-bg-surface: #F9FAFB;

  /* sidebar */
  --color-sidebar-item-active: #EEF2FF;
  --color-sidebar-item-active-text: #6366F1;
  --color-sidebar-logo-bg: #6366F1;
  --color-sidebar-avatar-bg: #6366F1;
  --color-sidebar-bg: #ffffff;
  --color-sidebar-icon: #9CA3AF;
  --color-sidebar-btn: #9CA3AF;

  /* project */
  --color-project-default: #6366F1;

  /* button */

/* filled */
--color-button-filled-bg: #6366F1;
--color-button-filled-bg-hover: #4F52DD;
--color-button-filled-bg-active: #4346C8;
--color-button-filled-text: #FFFFFF;
--color-button-filled-disabled-bg: #D1D5DB;

/* outline */
--color-button-outline-border: #D1D5DB;
--color-button-outline-text: #374151;

--color-button-outline-hover-border: #9CA3AF;
--color-button-outline-hover-text: #374151;

--color-button-outline-active-border: #D1D5DB;
--color-button-outline-active-text: #111827;
--color-button-outline-active-bg: #F3F4F6;

--color-button-outline-disabled-border: #E5E7EB;
--color-button-outline-disabled-text: #111827;
--color-button-outline-disabled-bg: #F9FAFB;

/* clear */
--color-button-clear-text: #374151;

/* button danger */
--color-button-danger-bg: #EF4444;
--color-button-danger-border: #EF4444;
--color-button-danger-text: #EF4444;

/* button success */
--color-button-success-bg: #10B981;
--color-button-success-border: #10B981;
--color-button-success-text: #10B981;

  /* other */
  --color-text-avatar: #ffffff;
}
